{% set version = "homepage" %}
{% extends "base/base.html" %}
{% block content %}

<main class="front-page">

    <h2 class="title-module">Vertical waterfall flow module</h2>
    {% include "components/_waterful.html" %}

    <div class="accordion-module">
        <h2 class="title-module">Accordion module</h2>
        {% include "components/_accordion.html" %}
    </div>

    <div class="Carousel_module">
        <h2 class="title-module">Carousel module</h2>
        {% include "components/_carousel.html" %}
    </div>

    <div class="Map_module">
        <h2 class="title-module">Map module</h2>
        {% include "components/_map.html" %}
    </div>
</main>

{% endblock %}