<div class="accordion_content" data-js="accordionHandler">
    <ul class="accordion accordion_container">
        <li class="accordion_item js-accordion-item is-open">
            <div class="show_desc">
                <span class="desc">hello1</span>
                <span class="icon js-accordion-trigger">+</span>
            </div>

            <div class="hide_desc js-accordion-content">
                <span class="large_desc">large desc</span>
                <span class="small_desc">small desc</span>
            </div>
        </li>

        <li class="accordion_item js-accordion-item">
            <div class="show_desc">
                <span class="desc">hello2</span>
                <span class="icon js-accordion-trigger">+</span>
            </div>

            <div class="hide_desc js-accordion-content">
                <span class="large_desc">large desc</span>
                <span class="small_desc">small desc</span>
            </div>
        </li>

        <li class="accordion_item js-accordion-item">
            <div class="show_desc">
                <span class="desc">hello3</span>
                <span class="icon js-accordion-trigger">+</span>
            </div>

            <div class="hide_desc js-accordion-content">
                <span class="large_desc">large desc</span>
                <span class="small_desc">small desc</span>
            </div>
        </li>

        <li class="accordion_item js-accordion-item">
            <div class="show_desc">
                <span class="desc">hello4</span>
                <span class="icon js-accordion-trigger">+</span>
            </div>

            <div class="hide_desc js-accordion-content">
                <span class="large_desc">large desc</span>
                <span class="small_desc">small desc</span>
            </div>
        </li>
    </ul>
</div>