.map_content {
  width: 60%;
  height: 100%;
  display: inline-block;
  background-color: #00205b;

  .map {
    width: 100%;
    height: 100%;
    // background-color: #f1f7fb;
    border: 1px solid;
    display: inline-block;
  }

  .tpl_map {
    display: inline-block;
    margin-top: 100%;
  }
}