.waterful_content {
  width: 100%;
  height: auto;
}

.waterful_container {
  list-style: none;
  position: relative;

  .item {
    height: 20px;
    width: 20%;
    line-height: 20px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    border: 1px solid;
    position: absolute;
    margin-bottom: 10px;

    &:nth-of-type(1) {
      height: 50px;
    }

    &:nth-of-type(2) {
      height: 150px;
    }

    &:nth-of-type(3) {
      height: 80px;
      line-height: 80px;
    }

    &:nth-of-type(4) {
      height: 200px;
      line-height: 200px;
    }

    &:nth-of-type(5) {
      height: 10px;
      line-height: 10px;
    }

    &:nth-of-type(6) {
      height: 190px;
      line-height: 190px;
    }

    &:nth-of-type(7) {
      height: 300px;
      line-height: 300px;
    }

    &:nth-of-type(8) {
      height: 30px;
      line-height: 30px;
    }

    &:nth-of-type(9) {
      height: 60px;
      line-height: 60px;
    }

    &:nth-of-type(10) {
      height: 50px;
      line-height: 50px;
    }
  }
}